<a href="http://eepurl.com/bOJulL">Subscribe</a> <a href="http://eepurl.com/bOJulL">Courses</a> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfLP2aXvA6AjfLIIWSk8kh1i3Wwjc9IgJSwhebJ2eCnfZ_tfA/viewform?c=0&w=1">Contact Us</a>

<!--  
{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
-->