---
layout: page
show_header: false
--- 
<div class="container py-5 mb-5">
    <div class="row no-gutters">
        {% for topic in page.topics %}
        <div class="col-12 col-lg-6">
            <div class="p-5 d-flex flex-column shadow shadow-sm rounded position-relative" style="background-color: {{topic.color}};">
                <div class="fs-3 fw-bold text-white">{{ forloop.index }}: {{topic.name}}</div>
                <a href="{{topic.url | relative_url}}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include newsletter.html %}
