---
layout: default
---
<style>
  svg.markmap {
      min-width: 100vw;
      min-height: 80vh;
    /*min-width: 100%;
    min-height: 60vh;*/
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/markmap-autoloader@0.15.2"></script>

<style>
    #content {
        padding-top: 2em;
        padding-bottom: 2em;
    }

</style>
<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>{{page.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ud-blog-details">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div id="content">
                    {{content | markdownify}}
                </div>
            </div>
        </div>
    </div>
</section>

{% include newsletter.html %}

<script>
    document.querySelectorAll('table').forEach(table => {
        table.classList.add('table');
    })
    document.querySelectorAll('p').forEach(p => {
        p.classList.add('ud-blog-details-para');
    })
</script>